        #chat-form {
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 0;
         
        left: 0;
        width: 100%;
        height: 5%;
        margin-bottom: 0%;

    }

#msg{
    border: none;
    height: 200%;
    margin-bottom: 0;
    outline: 0;
    border-radius: 0 0 10px 10px;
    text-align: center;
}


    
    .body-chat {
        height: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
        background-image: url('/img/bg.png');
        background-repeat: no-repeat;
        background-size: cover;
        position:relative;
        display: grid;
        grid-template-columns: 1fr; 
        grid-template-rows: 0.5fr 2fr 0.5fr;;
        
    }
    h1{
        font-family: 'Gemunu Libre', sans-serif;
    }
    .chat-container {
        height: auto;
        text-align: center;
        background: #162659
        ;
        color: black;
        opacity: 0.95;
        flex-direction: column;
        border-radius: 10px;
        grid-area: 2/1/3/4;
        margin-right: 3%;
        margin-left: 3%;
        position: relative;
      padding-bottom: 8%;
      width: auto;
        /*padding-top: 3%;*/
    }

    @media screen and (max-width:800px){

    .chat-form-container{
        background-color: whitesmoke;
        margin-bottom: 2%;
        border-radius: 10px;
        position: relative;
        width: 200px;
        margin-right: 3%;
        margin-top: 3%;
        text-align: left;
        
    }

    .chat-messages{
        /* padding-bottom: 15%; */
        overflow: auto;
        margin-bottom: 5%;
        width: 100px;
        height: 150px;
        
    }
}

    @media screen and (min-width:800px) {
        
    

    .chat-form-container{
        background-color: whitesmoke;
        margin-bottom: 2%;
        border-radius: 10px;
        position: relative;
        width: 600px;
        margin-right: 3%;
        margin-top: 3%;
        text-align: left;
        
    }

    .chat-messages{
        /* padding-bottom: 15%; */
        overflow: auto;
        margin-bottom: 5%;
        width: 600px;
        height: 300px;
        
        
    }
}
  

.odile{
    display: flex;
    justify-content: space-around;
}

    .join-container {
        height: auto;
        text-align: center;
        background: whitesmoke;
        opacity: 0.75;
        flex-direction: column;
        border-radius: 10px;
        grid-area: text;
        margin: auto;
      
        /*padding-top: 3%;*/
    }
    /* .all{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: stretch;
        justify-content: space-between;
        align-items: flex-start;
    } */
    .join-main {
        display: flex;
        flex-direction: column;
        align-content: space-around;
        justify-content: space-between;
        align-items: stretch;
    
    }
    #password ,#username{
        margin-bottom: 2%;
        margin-top: 2%;
        width: auto;
        height: auto;
        
    }
    button{
        margin-bottom: 2%;
        margin-top: 3%;
    
    }
    br{
        margin-bottom: 13%;
    }
    .btn-register{
     
       margin-top: 5%;
       margin-bottom: 5%;
    }
    label{
        font-weight: bold;
        margin-right: 2%;
    }
    
    .btn-grad  {
   background-image: linear-gradient(to right, #2b5876 0%, #4e4376  51%, #2b5876  100%)}
             .btn-grad {
                margin-top: 2%;
                margin-bottom: 0;
                padding: 5px 20px;
                text-align: center;
                text-transform: uppercase;
                transition: 0.5s;
                background-size: 200% auto;
                color: white;
                box-shadow: 0 0 5px #eee;
                border-radius: 10px;
                
                
              }
    
              .btn-grad:hover {
                background-position: right center; /* change the direction of the change here */
                color: #fff;
                text-decoration: none;
              }
    
              .btn-join{
                  display: flex;
                  justify-content: space-around;
                  margin-top: 2%;
              }
              .img-logo{
                width: auto;
                max-width: 25%;             
                  
              }
    
            
              .img-logo-chat{
                width: auto;
                max-width: 15%;
                box-shadow: 0 0 3px #eee;             
                background-color: whitesmoke;
                border-radius: 5px;
                margin-top: 15px;
                  
              }
    

                .body-register ,.body-index{
                    height: 100% !important;
                    margin: 0 !important;
                    padding: 0 !important;
                    background-image: url('/img/bg.png');
                    background-repeat: no-repeat;
                    background-size: cover;
                    position:relative;
                    display: grid;
                    grid-template-columns: 1fr 2.1fr 1fr;
                    grid-template-rows: 0.75fr 1fr 0.75fr;
                    gap: 0px 0px;
                    grid-template-areas:
                    ". . ."
                    ". text ."
                    ". . .";
                }
               
            #leave-btn{
                color: white;
            }
           .leave {
               display: flex;
               align-items: center;
               justify-content: flex-end;
                margin-right: 5%;
           }

           .chat-sidebar{
               display: flex;
               flex-direction: column;
           }
           .sidebar{
               display: flex;
               flex-direction: column;
           }
           .chat-main{
               display: flex;
               flex-direction: column;
            justify-content: space-around;
            margin-bottom: 2%;
           
            border-radius: 10px;
            padding: 3%;
            color: whitesmoke;
            /* background-color: rgb(165, 152, 165); */
        }



::-webkit-scrollbar {
    background-color: #2b5876;
    border-radius: 5px;
}





.message{
    background-color: rgb(206, 192, 255);
    border-radius: 10px 10px 0 0 ;
    padding-top: 2%;
    /* width: 100%; */
}

.text{
    padding-bottom: 1%;
    margin:1% 0 1% 0;
    color: #162659;
    width: 500px;
    word-wrap: break-word;
    text-align: center;
}

h3 {
    
   
    font-family : 'Gemunu Libre', sans-serif;
}

.bot{
    margin-top: 0;
    
}

.meta{
    /* padding-top: 1%;
    padding-bottom: 1%; */
    margin:1% 0 1% 0;

}

hr{
    width: 100%;
}

